.tooling/**
.tooling-apps-cache/**
.metadata/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath

/mergeeventandpayload/src/main/resources/examples/sample_payload.json
/mergeeventandpayload/src/main/resources/examples/sample_events.json
/.metadata/
